<%- include('../partials/header.ejs') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <input type="text" name="airline" required/>
    <label for="airport">Airport</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option selected value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <input type="number" name="flightNo" required/>
    <input type="date" name="departs" required/>


    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>